<cryptid>
  <header class="top-bar">
    <h1>cryptid</h1>
    <span>privacy-focused analytics</span>
  </header>

  <div class="main-container">
    <nav class="sidebar">
      <div class="category">pages</div>
      <ul>
        <li>/</li>
        <li>/blog</li>
        <li>/about</li>
      </ul>
    </nav>

    <main class="main">
      <h2 class="website-name">My Website - https://mywebsite.com</h2>
      <h3>pages - /blog</h3>

      [insert graphs here]
    </main>
  </div>
</cryptid>