<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cryptid: privacy-focused analytics</title>

    <link href="https://fonts.googleapis.com/css?family=Solway:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app" class="container"></div>
  <script src="{{ url_for('static',filename='dist/index.bundle.js') }}"></script>

  <script src="{{ url_for('static',filename='dist/lib.bundle.js') }}"></script>
</body>
</html>